SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-access-token
SMTP_FROM=InvestPilot
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
DATABASE_URL=postgres://admin:pass@db:5432/robo_advisory
SMTP_TEST_DESTINATION=your-smtp-test-destination
AES_MASTER_KEY=your-aes-key
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_KEY=whsec_...